$theme-palette-accent: (
    50 : #e4f9f1,
    100 : #bbefdd,
    200 : #8de4c7,
    300 : #5fd9b0,
    400 : #3dd19f,
    500 : #1bc98e,
    600 : #18c386,
    700 : #14bc7b,
    800 : #10b571,
    900 : #08a95f,
    A100 : #d4ffe9,
    A200 : #a1ffd0,
    A400 : #6effb6,
    A700 : #55ffa9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$theme-palette-primary: (
  50 : #e3f3f8,
  100 : #bae0ee,
  200 : #8ccbe3,
  300 : #5eb6d7,
  400 : #3ca7cf,
  500 : #1997c6,
  600 : #168fc0,
  700 : #1284b9,
  800 : #0e7ab1,
  900 : #0869a4,
  A100 : #d0ebff,
  A200 : #9dd6ff,
  A400 : #6ac0ff,
  A700 : #51b5ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$theme-color-primary: $theme-palette-primary(500);
$theme-color-accent: $theme-palette-accent(500);
