<td-dashhead>
  <td-dashhead-titles>
    <td-dashhead-subtitle>Dashboards</td-dashhead-subtitle>
    <td-dashhead-title>Overview</td-dashhead-title>
  </td-dashhead-titles>

  <td-dashhead-toolbar>
    <td-dashhead-toolbar-item class="input-with-icon">
      <input
        type="text"
        value="01/01/15 - 01/08/15"
        class="form-control"
        data-provide="datepicker"
      />
      <span class="icon icon-calendar"></span>
    </td-dashhead-toolbar-item>
    <td-dashhead-toolbar-divider></td-dashhead-toolbar-divider>
    <td-dashhead-toolbar-item class="btn-group btn-group-thirds">
      <button type="button" td-button outline color="primary">Day</button>
      <button type="button" td-button outline color="primary" class="active">
        Week
      </button>
      <button type="button" td-button outline color="primary">Month</button>
    </td-dashhead-toolbar-item>
  </td-dashhead-toolbar>
</td-dashhead>

This is the greatest day of my life.
